<div class="board-search">
    <form action="">
        <fieldset>
            <legend>게시물 검색</legend>
            <div class="board-search__item type-auto">
                <select name="" id="" class="select1">
                    <option value="">제목</option>
                    <option value="">내용</option>
                    <option value="">작성자</option>
                </select>
            </div>
            <div class="board-search__item">
                <input type="text" name="" id="" title="검색어를 입력해주세요." class="input1">
            </div>
            <div class="board-search__item type-btn">
                <button type="submit" title="검색" class="board-search__btn-search"><i class="fa fa-lg fa-search" aria-hidden="true"></i></button>
            </div>
        </fieldset>
    </form>
</div><!-- //board-search -->
