<div class="board-write">
    <form class="" action="index.html" method="post">
        <fieldset>
            <legend>글작성</legend>
            <div class="board-write__item">
                <label class="board-write__label" for="articleOwner">작성자</label>
                <input class="input1" type="text" name="" id="articleOwner">
            </div>
            <div class="board-write__item">
                <label class="board-write__label" for="articlePwd">비밀번호</label>
                <input class="input1" type="password" name="" id="articlePwd">
            </div>
            <div class="board-write__item">
                <label class="board-write__label" for="articleTit">제목</label>
                <input class="input1" type="text" name="" id="articleTit">
            </div>
            <div class="board-write__item">
                <label class="board-write__label" for="articleCnt">내용</label>
                <div>
                    <textarea class="textarea1" name="name" rows="8" cols="40" id="articleCnt"></textarea>
                </div>
                <!-- 에디터
                <div>
                    <iframe src="" width="" height=""></iframe>
                </div>
                -->
            </div>
        </fieldset>
    </form>
</div><!-- //board-write -->
