<div class="pagination">
    <span class="pagination__group pagination__group_prev">
        <!-- <a href="#" class="pagination__link" title="처음"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a> -->
        <a href="#" class="pagination__link" title="5페이지 이전"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </span>
    <span class="pagination__group">
        <a href="#" class="pagination__link is-active">1</a>
        <a href="#" class="pagination__link">2</a>
        <a href="#" class="pagination__link">3</a>
        <a href="#" class="pagination__link">4</a>
        <a href="#" class="pagination__link">5</a>
    </span>
    <span class="pagination__group pagination__group_next">
        <a href="#" class="pagination__link" title="5페이지 다음"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <!-- <a href="#" class="pagination__link" title="마지막"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a> -->
    </span>
</div><!-- //pagination -->
