<div class="board-password">
    <form class="" action="index.html" method="post">
        <fieldset>
            <legend>글 비밀번호 입력</legend>
            <p class="board-password__summary">글 등록시 입력하신 비밀번호를 입력하세요.</p>
            <div class="board-password__item">
                <label class="board-password__label" for="boardPwd">비밀번호</label>
                <input class="board-password__input input1" type="password" name="" id="boardPwd">
                <button type="submit" class="board-password__btn btn1 type-submit">확인</button>
            </div>
        </fieldset>
    </form>

</div><!-- //board-password -->
