<ul class="board-list">
    <% for (var i=0; i<2; i++) { %>
    <li class="board-list__item">
        <a href="<%= jsonData.pages[page].children[sub].links[1] %>" class="board-list__link">
            <div class="board-list__tit"><span class="board-list__term">제목</span> 공지사항 입니다. 공지사항 입니다. 공지사항 입니다. 공지사항 입니다. 공지사항 입니다.</div>
            <div class="board-list__data"><span class="board-list__term">작성자</span> 관리자</div>
            <div class="board-list__data"><span class="board-list__term">작성일</span> 2016.07.28</div>
            <div class="board-list__data"><span class="board-list__term is-view">조회</span> 2</div>
        </a>
    </li>
    <% } %>
    <% for (var i=0; i<4; i++) { %>
    <li class="board-list__item">
        <a href="<%= jsonData.pages[page].children[sub].links[1] %>" class="board-list__link">
            <div class="board-list__tit"><span class="board-list__term">제목</span> <span class="color2"><i class="fa fa-lock" aria-hidden="true"></i></span> 공지사항 입니다. 공지사항 입니다. 공지사항 입니다. 공지사항 입니다. 공지사항 입니다.</div>
            <div class="board-list__data"><span class="board-list__term">작성자</span> 홍길동</div>
            <div class="board-list__data"><span class="board-list__term">작성일</span> 2016.07.28</div>
            <div class="board-list__data"><span class="board-list__term is-view">조회</span> 2</div>
        </a>
    </li>
    <li class="board-list__item type-reply">
        <a href="<%= jsonData.pages[page].children[sub].links[1] %>" class="board-list__link">
            <div class="board-list__tit"><span class="board-list__term">제목</span> <span class="color2"><i class="fa fa-lock" aria-hidden="true"></i></span> 답변입니다.</div>
            <div class="board-list__data"><span class="board-list__term">작성자</span> 홍길동</div>
            <div class="board-list__data"><span class="board-list__term">작성일</span> 2016.07.28</div>
            <div class="board-list__data"><span class="board-list__term is-view">조회</span> 2</div>
        </a>
    </li>
    <% } %>
</ul><!-- //board-list -->
