<div class="board-view">
    <div class="board-view__header">
        <h2 class="board-view__tit"><span class="board-view__term">제목:</span> 상담받고 싶어요. 상담받고 싶어요. 상담받고 싶어요. 상담받고 싶어요.</h2>
        <p class="board-view__data"><span class="board-view__term">작성자:</span> 홍길동</p>
        <p class="board-view__data"><span class="board-view__term">작성일:</span> 2016.03.06 23:23:23</p>
        <p class="board-view__data type-another"><span class="board-view__term is-view">조회:</span> 1234</p>
    </div>
    <div class="board-view__body">
        <div class="board-article">
            2013년이 되자, 마크는 이제 자신이 진짜 꿈꾸던 일을 실행할 때가 되었다고 생각했다.<br><br>
            <img src="http://koreanhln.s3.amazonaws.com/wp-content/uploads/2016/03/01050413/koreanhln_shake-shack-43-726x400.jpg" alt=""><br>
페이스북은 글로벌 통신 기업들의 협력을 얻어 인터넷닷오알지(internet.org)라는 프로젝트를 시작했다. 인도, 잠비아, 탄자니아, 케냐, 콜롬비아 등 인터넷의 혜택을 받지 못하는 낙후지역의 사람들에게
무료로 인터넷을 공급하는 사업이었다. 하지만 이 사업을 하기 위해선 엄청난 사업비와 새로운 첨단 기술이 필요했다.
        </div><!-- //board-article -->
    </div>
</div>
