<div class="footer">
    <p class="site-info">
        <span class="site-info__item"><span class="inline-block"><%= data.site.address[0] %></span> <span class="inline-block"><%= data.site.address[1] %></span></span>
        <span class="site-info__item">대표자 : <%= data.site.ceo %></span>
        <span class="site-info__item">사업자등록번호 : <%= data.site.number %></span>
        <span class="site-info__item">대표번호 : <a href="tel:<%= data.site.tel %>"><%= data.site.tel %></a></span>
        <span class="site-info__item">팩스 : <%= data.site.fax %></span>
        <span class="site-info__item">E-mail : <a href="mailto:<%= data.site.email %>"><%= data.site.email %></a></span>
    </p><!-- //site-info -->
    <p class="copyright">
        <%= data.site.copyright %>
    </p><!-- //copyright -->
    <a href="<%= data.pages.login.links[0] %>" class="admin-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> 관리자 로그인</a>
    <!-- <a href="" class="admin-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> 로그아웃</a> -->
</div><!-- //footer -->
