<div class="header">
    <h1 class="top-logo">
        <a href="/" class="top-logo__link"><img src="../images/layout/top-logo.png" alt="<%= data.site.name.kor %>" class="top-logo__img"></a>
    </h1><!-- //top-logo -->
    <div class="gnb" id="gnb">
        <h2 class="gnb__tit" tabindex="0"><span>주메뉴</span></h2>
        <ul class="gnb__depth1-list">
            <% for (var depth1 in data.pages) {%>
            <% if (depth1 == "login") break %>
            <li class="gnb__depth1-item">
                <a href="<%= data.pages[depth1].links[0] %>" class="gnb__depth1-link"><%= data.pages[depth1].title.kor %></a>
                <% if (data.pages[depth1].children) {%>
                <ul class="gnb__depth2-list">
                    <% data.pages[depth1].children.forEach(function(depth2) { %>
                    <li class="gnb__depth2-item"><a href="<%= depth2.links[0] %>" class="gnb__depth2-link"><%= depth2.title %></a></li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% } %>
        </ul>
    </div><!-- //gnb -->
</div><!-- //header -->
