<%
    tabTitles = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].tabs : jsonData.pages[page].tabs
    tabLinks = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].links : jsonData.pages[page].links
%>
<ul class="tab1">
    <% for (var i = 0; i<tabTitles.length; i++ ) { %>
    <li class="tab1__item <% if(i == tab) {%>is-active<%}%>"><a href="<%= tabLinks[i] %>" class="tab1__link"><%= tabTitles[i] %></a></li>
    <% } %>
</ul><!-- //tab1 -->
