<%
    var data = jsonData
%><!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="target-densitydpi=device-dpi, maximum-scale=1, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<title><%= subTitle = (page == "main") ? "":title+" | " %><%= data.site.name.kor %></title>
<link rel="stylesheet" href="../css/libs/normalize.css">
<link rel="stylesheet" href="../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/style.css">
<script type="text/javascript" src="../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/libs/jquery.touchSlider.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</head>
<body class="<%= page %>">
<div class="skip">
	<a href="#content">본문 바로가기</a>
</div><!-- //skip -->
<div class="wrapper">
    <% include ../_include/_header %>
    <% if (page == "main") { %>
    <div class="content" id="content">
        <%- body  %>
    </div><!-- //content -->
    <% } else {%>
    <div class="content" id="content">
        <div class="page-visual <%= page %>"></div>
        <h1 class="page-tit"><%= title %></h1>
        <%- body  %>
    </div><!-- //content -->
    <% } %>
    <% include ../_include/_footer %>
</div><!-- //wrapper -->
</body>
</html>
