<%
    page = "login"
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>

<div class="login-box">
    <form action="">
        <fieldset>
            <legend>로그인</legend>
            <p class="login-box__summary"><span class="color3">관리자</span> 로그인 페이지입니다.</p>
            <p class="login-box__para">
                아이디와 비밀번호를 입력하시고 로그인하세요!<br>
                <span class="color3"><i class="fa fa-lg fa-exclamation-circle" aria-hidden="true"></i></span> 비밀번호 노출이 되지 않도록 주의해주세요!
            </p>
            <div class="login-box__item">
                <label for="loginId" class="login-box__label">아이디</label>
                <input type="text" name="" id="loginId" class="login-box__input input1">
            </div>
            <div class="login-box__item">
                <label for="loginPwd" class="login-box__label">비밀번호</label>
                <input type="password" name="" id="loginPwd" class="login-box__input input1">
            </div>
            <button type="submit" class="login-box__btn btn1 type-submit">Login</button>
        </fieldset>
    </form>
</div><!-- //login-box -->
