<%
    page = "main"
%>
<% layout('_layout/_layout') -%>

<div class="main-visual" id="mainVisual">
    <ul class="main-visual__list">
        <li class="main-visual__item"><img src="../images/main/main-visual1.png" alt="" class="main-visual__img"></li>
        <li class="main-visual__item"><img src="../images/main/main-visual2.png" alt="" class="main-visual__img"></li>
        <li class="main-visual__item"><img src="../images/main/main-visual3.png" alt="" class="main-visual__img"></li>
    </ul>
    <div class="main-visual__pagination"></div>
</div><!-- //main-visual -->

<div class="main-box">
    <h2 class="main-tit">365일 24시간입원·상담가능</h2>
    <div class="main-info">
        <p>알콜,조현병,정신분열증 문제를 주저말고 저희에게 전화주시면 성심껏 상담해 드리겠습니다.</p>
        <a href="tel:0439099001" class="main-info__btn"><span class="main-info__btn-ico"><i class="fa-phone fa"></i></span>043 · 909 · 9001</a>
        <a href="tel:01046109119" class="main-info__btn"><span class="main-info__btn-ico"><i class="fa-phone fa"></i></span>010 · 4610 · 9119</a>
    </div><!-- //main-info -->
    <div class="main-box__footer">
        <i class="fa fa-ambulance"></i> 엠뷸런스 항시대기
    </div>
</div><!-- //main-box -->

<div class="main-box">
    <h2 class="main-tit">진료시간 안내 <span class="main-tit__sub">(365일 24시간/입원가능)</span></h2>
    <dl class="main-schedule">
        <dt class="main-schedule__date">월~금</dt>
        <dd class="main-schedule__time">09:00 ~ 18:00</dd>
        <dt class="main-schedule__date">토요일</dt>
        <dd class="main-schedule__time">09:00 ~ 13:00</dd>
        <dt class="main-schedule__date">점심시간</dt>
        <dd class="main-schedule__time">12:00 ~ 13:00</dd>
        <dt class="main-schedule__date">일요일(공휴일) </dt>
        <dd class="main-schedule__time">휴진</dd>
    </dl><!-- //main-schedule -->
</div><!-- //main-box -->

<div class="main-box">
    <h2 class="main-tit">공지사항</h2>
    <ul class="main-board">
        <li class="main-board__item"><a href="" class="main-board__link">병원 홈페이지가 리뉴얼 홈페이지가 리뉴얼 홈페이지가 리뉴얼 <span class="main-board__date">2016.07.01</span></a></li>
        <li class="main-board__item"><a href="" class="main-board__link">병원 홈페이지가 리뉴얼.. <span class="main-board__date">2016.07.01</span></a></li>
        <li class="main-board__item"><a href="" class="main-board__link">병원 홈페이지가 리뉴얼.. <span class="main-board__date">2016.07.01</span></a></li>
        <li class="main-board__item"><a href="" class="main-board__link">병원 홈페이지가 리뉴얼.. <span class="main-board__date">2016.07.01</span></a></li>
    </ul><!-- //main-board -->
    <a href="" class="main-box__btn-more">더보기</a>
</div><!-- //main-box -->
