<%
    page = "sub3"
    sub = 1
    tab = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">유전적 요인</h2>
<p>가족 중 알코올문제가 있다면 그렇지 않은 경우 보다 병이 생길 가능성이 4배 이상 높습니다. 똑같이 술을 마셔도 병이 진행되는 속도는 사람마다 다릅니다. 유전적인 요인을 타고 난 사람이 빨리 병에 걸리고, 특히 부모님에게 술 문제가 있어서 반복적으로 술의 힘을 빌리는 것을 보며 성장한 경험이 학습되어 중독에 이르는 원인이 될 수 있습니다.</p>
<hr class="bar1">
<h2 class="tit1">심리적 원인</h2>
<p>성장기 애정의 결핍, 가정의 불화, 과잉보호 등 성장기에 충분한 사랑을 받지 못하고 성장하였을 경우, 부정적 학습의 효과 등으로 인해 자기 스스로를 사랑하는 법을 배우지 못해 술로 도피하는 것을 선택하게 될 확률이 높습니다.</p>
<hr class="bar1">
<h2 class="tit1">사회ㆍ문화적 요인</h2>
<p>한국 사회는 음주를 권하는 문화를 가지고 있으며 음주로 인해 발생되는 문제에 대해 관대한 사회적 분위기가 형성되어 있습니다. 취중 행동에 대해서는 술버릇 정도로 가볍게 생각하고 중대한 과실을 발생시켜도 술이 그 사람을 그렇게 만들었다고 생각합니다.</p>
