<%
    page = "sub3"
    sub = 1
    tab = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">알코올 중독이란?</h2>
<p>
    <img src="../images/content/img-sub030201.png" alt="알코올 중독 이미지">
</p>
<p>
    알코올 중독이란 과도한 음주로 인해 뇌세포가 변형된 상태입니다. 즉, 조절해서 마시게 하는 '조절능력'이 사라져 음주를 스스로 조절하지 못하고 강박적으로 사용하는 뇌의 질병입니다.
</p>
<hr class="bar1">
<h2 class="tit1">일반적으로 알고 있는 알코올 중독자들에 대한 잘못된 편견</h2>
<p>일반적으로 우리는 '알코올 중독자는 서울역 같은 곳에서 노숙을 하거나 매일 술을 엄청나게 마시고 격한 행동을 한다.'라고 생각합니다.</p>
<p>하지만 이러한 사실은 알코올 중독자의 10%정도에 해당됩니다. 나머지 다수의 알코올 중독자는 "난 그냥 술을 좀 좋아하는 애주가야" 라는 양상을 보입니다.</p>
<p>보건 복지부 발표에 근거한 알코올 중독 발생비율은 술 마실 줄 아는 성인 중 20%가 치료를 필요로 하는 남용단계(알코올중독초기)로 조사되었습니다. 일반적으로 허용되는 양 이상의 술을 습관적으로 마셔 개인의 건강, 가족, 사회적 직업적 기능에 장애가 있음에도 술을 지속하는 경우는 약물중독의 일종인 알코올 중독에 걸렸기 때문에 치료를 시작해야 합니다.</p>
<p>알코올 중독은 도덕적 타락이나 의지가 부족해서 생기는 병이 아닙니다. 유전적으로 좀 더 빨리 진행되는 사람이 있긴 하지만, 누구나 걸릴 수 있는 하나의 질병일 뿐입니다. "내가 왜 알코올 중독자야! 나는 문제 없어!" 부정하고 있을 때가 아닙니다. 이병은 진행성 질병입니다. "치료까지 받을 필요는 없다."며 뒤로 미룰 일이 아닙니다. 알코올중독병도 치료의 시작이 빠를수록 회복도 빠릅니다.</p>
