<%
    page = "sub2"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>

<h2 class="tit1"><span class=""><i class="fa fa-lg fa-clock-o" aria-hidden="true"></i></span> 병문안(면회)</h2>
<p>
    환우들의 안정과 빠른 회복을 위해 병문안(면회) 시간을 제한하고 있으며 환우 개인별 치료증상 경과에 따라 병문안(면회)을 조정하고 있습니다.<br>
    병동내 직원의 안내에 따라 면회실에서 병문안이 가능합니다. 병문안(면회) 기다리시는 다른 가족들을 위하여 가급적이면 20분안에 면회를 하도록 해주십시오. 병문안(면회) 친가족에 한하여 친지나 기타 환우분들은 친가족과 동반할 경우 면회가 가능합니다. 병문안 시간은 평일 공휴일 모두 오전 10시 30분부터 오후 5시까지 가능합니다. 입원 후 첫 병문안은 가급적 담당의사와 상의 후 결정해주십시오.
</p>
<hr class="bar1">
<h2 class="tit1"><span class=""><i class="fa fa-lg fa-car" aria-hidden="true"></i></span> 외출, 외박</h2>
<p>
    외출, 외박은 환우 상태에 따라 담당의사와 상의하여 결정해 주십시오.<br>
    외출, 외박은 신청서를 작성하여 원무과에 제출해 주십시오. (신청서는 원무과에 비치되어 있습니다.)
</p>
<hr class="bar1">
<h2 class="tit1"><span class=""><i class="fa fa-lg fa-exclamation-triangle" aria-hidden="true"></i></span> 병문안(면회)시 주의사항</h2>
<p>
    병실에는 현금이나 유리제품, 금속 기타 자해 또는 타해의 위험이 있는 물품의 반입은 절대 금지합니다. 간식및 물품은 반드시 병실직원이 확인 후 반입이 가능합니다.<br>
    기타 음식은 환우분이 드실 수 있도록 준비해 올 수 있으나, 떡은 반입시 질식의 위험이 있으니 병문안 시 드실 수 있는 양을 준비하시길 바랍니다.<br>
    면회실 내에서는 화재 위험이 있는 휴대용 가스렌지 사용을 금합니다.
</p>
