<%
    page = "sub5"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>
<% include _include/_board_search.ejs %>
<% include _include/_board_list.ejs %>
<% include _include/_board_pagination.ejs %>

<div class="board-btn">
    <span class="board-btn__group">
        <a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn1">글쓰기</a>
    </span>
</div><!-- //broad-btn -->
