<%
    page = "sub1"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>

<p class="page-summary">
    안녕하세요.<br>
    저희 <strong class="color1">한성병원 홈페이지</strong>를<br>
    방문해주셔서 진심으로 감사합니다.
</p>

<p>저희 한성병원은 현대사회에서 오는 스트레스와 불안, 강박, 음주문제, 노인성 질환등 정신적으로 겪는 환경적, 유전적 질환을 치료하는 병원으로 가족같은 분위기, 전문화된 의료진과 체계적인 프로그램으로 구성되어있으며 지역사회와 연계하여 환자분들의 빠른 치유와 사회복기를 목표로 하고 있습니다.</p>
<p>격리되고 소외받는 혼자들이 아닌 환자가 대우받고 보호받는 병원이 될수 있도록 늘 최선을 다하는 저희 한성병원은 앞으로도 성심성의껏 환자분들의 치료와 재할에 힘 쓸 것을 약속드리며, 여러분의 소중한 가족분들을 믿고 의뢰해 주신다면 성심을 다하여 사랑으로 정성껏 모시겠습니다.<br>많은 관심과 사랑 부탁드립니다.</p>
<p>감사합니다.</p>
