<%
    page = "sub3"
    sub = 1
    tab = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">알코올 중독의 특징</h2>
<h3 class="tit2">알코올 중독은 진행성 질병입니다.</h3>
<p>처음 알코올 문제가 시작될 때와 달리 내성이 증가하며 점점 더 심해집니다.</p>
<h3 class="tit2">알코올 중독은 퇴행성 질병입니다.</h3>
<p>술 문제로 인해 사회적, 신체적 기능이 저하되고 어린아이 같은 행동을 하게 됩니다.</p>
<h3 class="tit2">알코올 중독은 마음의 병입니다.</h3>
<p>술을 마시는 것은 드러나는 증상일 뿐이며 우리가 술을 마시게 만들었던 원인은 내면에 가지고 있는 감정의 문제들입니다.</p>
<h3 class="tit2">알코올 중독은 가족의 병입니다.</h3>
<p>알코올 중독자 뿐 아니라 우리가 함께 생활하고 있는 가족들 또한 불안, 우울, 강박을 비롯한 심리적, 신체적, 경제적 고통을 받으며 함께 힘들어 합니다.</p>
<h3 class="tit2">알코올 중독은 당사자와 가족들에게 병으로 인식되지 않습니다.</h3>
<hr class="bar1">
<h2 class="tit1">알코올중독이 신체에 미치는 영향</h2>
<p><img src="../images/content/img-sub030203.png" alt="폭력, 이혼, 실직, 면허정지 | 간성뇌증, 치매, 소외위축 | 거대적혈구증, 빈혈, 백혈구 및 혈소판감소증, 지방간, 간염, 간경변증, 간암 | 식도염, 위염, 위궤양, 췌장염, 설사, 흡수장애 | 영양분(비타민, 미네랄, 단백질)결핍, 저혈당, 고지혈증 | 부정맥, 심장마비, 심근병증, 고혈압 | 성욕감퇴, 조루, 고환위축 | 골다공증, 골절 | 근육위축"></p>
