<%
    page = "sub1"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>

<p>
    <img src="../images/content/contact-pic.jpg" width="580" height="380" alt="한성병원 전경 사진">
</p>
<dl class="contact-box">
    <dt class="contact-box__term" title="주소"><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i></dt>
    <dd class="contact-box__discription"><%= jsonData.site.address[0] %></dd>
    <dt class="contact-box__term" title="이메일"><i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i></dt>
    <dd class="contact-box__discription"><a href="mailto:<%= jsonData.site.email %>"><%= jsonData.site.email %></a></dd>
    <dt class="contact-box__term" title="연락처"><i class="fa fa-lg fa-phone" aria-hidden="true"></i></dt>
    <dd class="contact-box__discription"><a href="tel:<%= jsonData.site.tel %>"><%= jsonData.site.tel %></a>, <a href="tel:<%= jsonData.site.phone %>"><%= jsonData.site.phone %></a></dd>
    <dt class="contact-box__term" title="Fax"><i class="fa fa-fax" aria-hidden="true"></i></dt>
    <dd class="contact-box__discription"><%= jsonData.site.fax %></dd>
</dl><!-- //contact-box -->
