<%
    page = "sub5"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>
<% include _include/_board_view.ejs %>

<div class="board-btn">
    <span class="board-btn__group">
        <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn1">목록</a>
        <a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn1">수정</a>
        <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn1">삭제</a>
    </span>
    <span class="board-btn__group">
        <a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn1">답변</a>
    </span>
</div><!-- //broad-btn -->
