<%
    page = "sub2"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>

<h2 class="tit1">외래진료시간</h2>
<p>
    평일 : 09:00 ~ 18:00<br>
    토요일 : 09:00 ~ 13:00<br>
    일요일(공휴일) : 휴진<br>
    365일 24시간 입원/상담가능
</p>
<hr class="bar1">
<h2 class="tit1">진료과목</h2>
<p>
    내과, 가정의학과, 정형외과, 정신건강의학과
</p>
<hr class="bar1">
<h2 class="tit1">외래접수 및 절차</h2>
<ol class="process-step">
    <li class="process-step__item">반드시 건강보험증을 지참하시고 담당자에게 제시합니다.</li>
    <li class="process-step__item">접수후 진료과에서 순서대로 대기합니다.</li>
    <li class="process-step__item">진찰을 받으시고 수납창구에서 수납하시고 처방전을 발급받으신 후 귀가하십시오.</li>
</ol><!-- //process-step -->
