<%
    page = "sub4"
    tab = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">정신분열병(조현병)</h2>
<p>정신분열병(조현병)은 비교적 이른 나이에 발병하여 사람의 인지/지각/정동/의지/행동/사회활동 등의 다양한 정신 기능에 이상을 초래하는 질환입니다. 인구의 1%에서 발생하는 것으로 알려져 있으며 증상뿐만 아니라 경과, 치료반응, 예후도 매우 다양하여 단일 질병이 아닌, 공통적 특징을 지닌 몇 가지 질병으로 이루어진 질병군으로 파악되고 있습니다. 이 병은 진단 및 치료가 쉽지 않고 재발도 많습니다. 그러므로 일찍 발견하여 지속하는 경우엔 회복이 가능한 병으로 알려져 있습니다.</p>
<hr class="bar1">
<h3 class="tit2">정신분열병(조현병)을 예고하는 경보 증상</h3>
<ul class="list1">
    <li class="list1__item">세면, 목욕, 청소 등을 잘 하지 않아 불결하고 지저분하게 지낸다.</li>
    <li class="list1__item">옷을 입고 화장을 하는 등, 자기를 가꾸는 데 있어서 전과 다르게 엉성한 모습이 나타난다. 외모에 관심이 없어지기도 한다.</li>
    <li class="list1__item">신경이 예민해져서 사소한 일에도 짜증을 내고 불안하거나 긴장된 모습을 보인다.</li>
    <li class="list1__item">분노를 심하게 나타내면서 공격적인 행동이 잦아진다.</li>
    <li class="list1__item">집중이 잘 안 되어서 업무 능률이 떨어진다. 학생인 경우 이유 없이 성적이 떨어진다. 철학적이고 종교적인 주제에 지나치게 몰두한다.</li>
    <li class="list1__item">죽음과 자살에 대한 생각과 이야기가 많아진다.</li>
    <li class="list1__item">다른 사람들과 함께 있는 시간이 줄어들면서 혼자 있는 시간이 많아진다.</li>
</ul><!-- //list1 -->
<hr class="bar2">
<h3 class="tit2">양성증상</h3>
<ul class="list1">
    <li class="list1__item">양성 증상은 정신분열병에서 겉으로 드러나는 비정상적이고 괴이한 증상, 건강한 사람에게서는 발견할 수 없는 정신병적 증상을 의미합니다.</li>
    <li class="list1__item">대표적인 양성 증상에는 환청이나 환시 같은 감각의 이상, 비현실적이고 기괴한 망상 같은 생각의 이상, 그리고 생각의 흐름에 이상이 생기는 사고 과정의 장애 등이 있습니다. 양성 증상은 겉으로 보기에는 대단히 기괴하고 심각해 보이지만, 음성 증상에 비하면 약물치료 때문에 비교적 빨리 쉽게 좋아지는 증상이기도 합니다.</li>
</ul><!-- //list1 -->
<hr class="bar2">
<h3 class="tit2">환자가 조절할 수 있는 위험인자</h3>
<ul class="list1">
    <li class="list1__item">정상적인 감정반응이나 행동이 감소하여 둔한 상태가 되고, 사고 내용이 빈곤해지며, 의욕 감퇴, 사회적 위축 등을 보이는 현상을 말합니다.</li>
    <li class="list1__item">하루종일 무표정하게 있거나 대부분의 사람들이 박장대소하는 개그 프로그램을 보면서도 오히려 눈물을 흘리는 등 상황에 맞지 않는 감정을 보입니다.</li>
    <li class="list1__item">외부와의 접촉을 일체 끊고 하루 종일 자기 방에 틀어박혀 나오지 않고 기본적인 위생관리도 제대로 하지 못하여 아무 생각도 없는 사람처럼 행동합니다.</li>
</ul><!-- //list1 -->
