<%
    page = "sub4"
    tab = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">치매</h2>
<p>
    치매는 그 자체가 하나의 질환을 의미하는 것은 아니고, 여러가지 원인에 의한 뇌손상에 의해 기억력을 위시한 여러 인지기능의 장애가 생겨 예전 수준의 일상생활을 유지할 수 없는 상태를 의미하는 포괄적인 용어입니다.<br>
    치매는 일단 정상적으로 성숙한 뇌가 후천적인 외상이나 질병 등 외인에 의하여 손상 또는 파괴되어 전반적으로 지능, 학습, 언어 등의 인지기능과 고등 정신기능이 떨어지는 복합적인 증상을 말합니다.<br>
    치매는 주로 노년기에 많이 생기며, 현재 심장병, 암, 뇌졸중에 이어 4대 주요 사인으로 불릴 정도로 중요한 신경 질환입니다.
</p>
<hr class="bar1">
<h2 class="tit1">알츠하이머</h2>
<p>
    알츠하이머병(Alzheimer disease)은 치매를 유발하는 가장 흔한 원인 질환으로, 전체 치매 환자의 약 50-80%에서 원인이 됩니다. 국내 유병률에 대한 자세한 자료는 없지만 국내에 약 30만 명 정도의  치매환자가 있을 것으로 의심되고, 이 중 약 50% 정도인 15만 명 정도의 알츠하이머병 환자가 있을 것으로 추산됩니다.<br>
    알츠하이머병은 대뇌 피질세포의 점진적인 퇴행성 변화로 인하여 기억력과 언어 기능의 장애를 초래할 뿐 아니라 판단력과 방향 감각이 상실되고 성격도 변화되어 결국 자신 스스로를 돌보는 능력이 상실되는 병입니다.
</p>
<ol class="symptom-step">
    <li class="symptom-step__item">기억력 감퇴</li>
    <li class="symptom-step__item">언어능력 저하</li>
    <li class="symptom-step__item">시공간파악능력(지남력)의 저하</li>
    <li class="symptom-step__item">판단력 및 일상생활수행 능력의 저하</li>
    <li class="symptom-step__item">정신행동증상</li>
    <li class="symptom-step__item">신체증상</li>
</ol><!-- //symptom-step -->
<h3 class="tit2">치매증상</h3>
<p>어떠한 단일 질환에 의한 진단명이 아닌 뇌를 직접 침범하는 퇴행성질환이나 감염, 염증 이외에도 내분지 질환 대사성 질환을 포함한 다양한 내과적 질환, 외상, 신생물, 혈관성 질환등 약 90여가지 원인에 의해 발생하는 특정 증후군이라 할 수 있습니다.</p>
<ul class="list1">
    <li class="list1__item">자주 반복해서 질문하고, 평소에 능숙했던 일도 잘하지 못한다.</li>
    <li class="list1__item">말할 때 적절치 않은 단어를 사용하거나 의사소통이 어렵다.</li>
    <li class="list1__item">시간과 장소에 대한 감각이 없어지고 판단력이 흐려진다.</li>
    <li class="list1__item">숫자에 대한 개념이 사라진다.</li>
    <li class="list1__item">물건을 두었던 곳을 기억하지 못해 엉뚱한 곳을 찾는다.</li>
    <li class="list1__item">기분과 행동이 짧은 사이에 순간적으로 변한다.</li>
    <li class="list1__item">성격이 급해지고 흥분, 의심, 두려움 등의 감정이 반복적으로 나타난다.</li>
</ul><!-- //list1 -->
<hr class="bar2">
<h3 class="tit2">치매치료</h3>
<p>
    치매는 약물치료와 심리치료, 사회복지, 대인관계 기술훈련 및 재활치료를 통해 치료합니다.<br>
    치매 환자의 경우 자극을 피하고 수용적인 태도를 위해 노력하며 지속적이고 일관성 있는 치료를 받는 것이 중요합니다.
</p>
<hr class="bar2">
<h3 class="tit2">치매예방</h3>
<ul class="list1">
    <li class="list1__item">식사, 운동, 수면 등 평소 자신의 건강관리를 게을리하지 않습니다.</li>
    <li class="list1__item">수분 부족은 뇌 혈류량을 감소시켜 뇌경색을 유발할 수 있으니 평소 수분을 충분히 보충합니다.</li>
    <li class="list1__item">식사는 자신이 먹을 수 있는 양의 80% 정도로만 합니다.</li>
    <li class="list1__item">흡연 및 지나친 음주는 삼갑니다.</li>
    <li class="list1__item">비만을 줄이고 적절한 운동을 꾸준히 합니다.</li>
    <li class="list1__item">머리를 많이 쓰고, 적극적인 삶의 태도를 보입니다.</li>
    <li class="list1__item">우울증이 있다면 치료받고, 밝고 긍정적인 성격을 갖도록 노력합니다.</li>
    <li class="list1__item">노후 대책을 미리 설계합니다.</li>
</ul><!-- //list1 -->
