<%
    page = "sub2"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>
<p class="page-summary">
    입·퇴원 관련 궁금하신 사항 문의는<br>
    <strong class="color1">한성병원 <a href="tel:043-909-9001" target="_blank">043-909-9001</a></strong> 으로 전화 주시길 바랍니다.
</p>

<h2 class="tit1">입원접수</h2>
<p>
    진료를 받으신 후  담당의사가 입원을 결정하면 원무과에서 입퇴원계 해당창구에서 입원수속 및 입원예약을 하십시오.<br>
    건강보험증을 제시하고 입원동의서, 입원서약서를 작성하십시오.
</p>
<hr class="bar1">
<h2 class="tit1">퇴원절차</h2>
<p>
    담당의사가 퇴원을 결정하면 병동 간호사가 차트 작성후 원무과에서 수납하시면 됩니다.
</p>
