<div class="dialog">
    <h1 class="dialog__tit">알코올중독 자가진단 결과</h1>
    <button type="button" class="dialog__btn-close" title="닫기" onclick="$('.dimmed').remove();return false;"><i class="fa fa-lg fa-times" aria-hidden="true"></i></button>
    <div class="test-result">
        <p class="test-result__summary">위험음주군입니다.</p>
        <p>꼭 전문가와 상의하여<br>적절한 검사와 치료를 받으십시오!</p>
    </div><!-- //test-result -->
</div><!-- //dialog -->
