<%
    page = "sub3"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>

<h2 class="tit1">알코올 중독 자가진단</h2>
<p>알코올 남용과 알코올 의존을 합하여 일반적으로 알코올 중독이라고 하는데, 이 선별검사는 알코올 중독의 유무를 짧은 시간 내에 적용하여 진단하는데 사용됩니다. 최근 6개월 동안 당신의 생활을 바탕으로 아래 문항을 체크해주시기 바랍니다.</p>
<hr class="bar1">
<form class="" action="index.html" method="post">
    <fieldset>
        <legend>알코올 중독 자가진단</legend>
        <h3 class="tit2">01. 술을 얼마나 자주 마십니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest1" value="a" id="selfTest1a" class="radio1"> <label for="selfTest1a">전혀 안 마심</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest1" value="b" id="selfTest1b" class="radio1"> <label for="selfTest1b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest1" value="c" id="selfTest1c" class="radio1"> <label for="selfTest1c">월 2~4회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest1" value="d" id="selfTest1d" class="radio1"> <label for="selfTest1d">주 2~3회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest1" value="e" id="selfTest1e" class="radio1"> <label for="selfTest1e">주 4회 이상</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">02. 평소 술을 마시는 날 몇 잔 정도나 마십니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest2" value="a" id="selfTest2a" class="radio1"> <label for="selfTest2a">1~2잔</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest2" value="a" id="selfTest2b" class="radio1"> <label for="selfTest2b">3~4잔</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest2" value="a" id="selfTest2c" class="radio1"> <label for="selfTest2c">5~6잔</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest2" value="a" id="selfTest2d" class="radio1"> <label for="selfTest2d">7~9잔</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest2" value="a" id="selfTest2e" class="radio1"> <label for="selfTest2e">10잔 이상</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">03. 한번 술을 마실 때 소주 1병 또는 맥주 4병 이상의 음주는 얼마나 자주하십니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest3" value="a" id="selfTest3a" class="radio1"> <label for="selfTest3a">전혀없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest3" value="a" id="selfTest3b" class="radio1"> <label for="selfTest3b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest3" value="a" id="selfTest3c" class="radio1"> <label for="selfTest3c">월 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest3" value="a" id="selfTest3d" class="radio1"> <label for="selfTest3d">주 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest3" value="a" id="selfTest3e" class="radio1"> <label for="selfTest3e">거의 매일</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">04. 지난 1년간 술을 한번 마시기 시작하면 멈출 수 없었던 때가 얼마나 자주 있었습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest4" value="a" id="selfTest4a" class="radio1"> <label for="selfTest4a">전혀없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest4" value="a" id="selfTest4b" class="radio1"> <label for="selfTest4b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest4" value="a" id="selfTest4c" class="radio1"> <label for="selfTest4c">월 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest4" value="a" id="selfTest4d" class="radio1"> <label for="selfTest4d">주 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest4" value="a" id="selfTest4e" class="radio1"> <label for="selfTest4e">거의 매일</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">05. 지난 1년간 평소 같으면 할 수 있었던 일을 음주 때문에 하지 못한 적이 얼마나 자주 있었습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest5" value="a" id="selfTest5a" class="radio1"> <label for="selfTest5a">전혀없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest5" value="a" id="selfTest5b" class="radio1"> <label for="selfTest5b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest5" value="a" id="selfTest5c" class="radio1"> <label for="selfTest5c">월 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest5" value="a" id="selfTest5d" class="radio1"> <label for="selfTest5d">주 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest5" value="a" id="selfTest5e" class="radio1"> <label for="selfTest5e">거의 매일</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">06. 지난 1년간 술을 많이 마신 다음날 해장술을 마신 적이 얼마나 자주 있었습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest6" value="a" id="selfTest6a" class="radio1"> <label for="selfTest6a">전혀없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest6" value="a" id="selfTest6b" class="radio1"> <label for="selfTest6b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest6" value="a" id="selfTest6c" class="radio1"> <label for="selfTest6c">월 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest6" value="a" id="selfTest6d" class="radio1"> <label for="selfTest6d">주 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest6" value="a" id="selfTest6e" class="radio1"> <label for="selfTest6e">거의 매일</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">07. 지난 1년간 음주 후에 죄책감을 느끼거나 후회한 적이 얼마나 자주 있었습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest7" value="a" id="selfTest7a" class="radio1"> <label for="selfTest7a">전혀없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest7" value="a" id="selfTest7b" class="radio1"> <label for="selfTest7b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest7" value="a" id="selfTest7c" class="radio1"> <label for="selfTest7c">월 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest7" value="a" id="selfTest7d" class="radio1"> <label for="selfTest7d">주 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest7" value="a" id="selfTest7e" class="radio1"> <label for="selfTest7e">거의 매일</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">08. 지난 1년간 음주 때문에 전날 밤에 있었던 일이 기억나지 않았던 적이 얼마나 자주 있었습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest8" value="a" id="selfTest8a" class="radio1"> <label for="selfTest8a">전혀없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest8" value="a" id="selfTest8b" class="radio1"> <label for="selfTest8b">월 1회 미만</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest8" value="a" id="selfTest8c" class="radio1"> <label for="selfTest8c">월 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest8" value="a" id="selfTest8d" class="radio1"> <label for="selfTest8d">주 1회</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest8" value="a" id="selfTest8e" class="radio1"> <label for="selfTest8e">거의 매일</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">09. 음주로 인해 자신이나 다른 사람을 다치게 한 적이 있습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest9" value="a" id="selfTest9a" class="radio1"> <label for="selfTest9a">없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest9" value="a" id="selfTest9b" class="radio1"> <label for="selfTest9b">있지만, 지난 1년간 없었음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest9" value="a" id="selfTest9c" class="radio1"> <label for="selfTest9c">지난 1년간 있었음</label></span>
        </div><!-- //check-box -->
        <hr class="bar2">
        <h3 class="tit2">10. 친척이나 친구, 의사가 당신이 술 마시는 것을 걱정하거나  술 끊기를 권유한 적이 있습니까?</h3>
        <div class="check-box">
            <span class="check-box__item"><input type="radio" name="selfTest10" value="a" id="selfTest10a" class="radio1"> <label for="selfTest10a">없음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest10" value="a" id="selfTest10b" class="radio1"> <label for="selfTest10b">있지만, 지난 1년간 없었음</label></span>
            <span class="check-box__item"><input type="radio" name="selfTest10" value="a" id="selfTest10c" class="radio1"> <label for="selfTest10c">지난 1년간 있었음</label></span>
        </div><!-- //check-box -->
        <hr class="bar1">
        <div class="content-btn">
            <button type="submit" class="btn1 type-submit type-lg" onclick="$('<div class=\'dimmed\'></div>').appendTo('body').end().load('sub0301_result'+Math.floor((Math.random()*3)+1)+'.html');return false;">자가진단 결과보기</button>
        </div><!-- //content-btn -->
    </fieldset>
</form>
