<%
    page = "sub4"
    tab = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">양극성장애(조울증)</h2>
<p>
    일반적으로 조울증이라고 알려진 마음의 병을 정신과에서는 양극성 장애라는 병명으로 부릅니다. 양극성 장애는 기분, 에너지, 생각과 행동에 극단적인 변화가 일어나는 것이 특징으로, 치료가 가능한 병입니다.<br>
    양극성 장애를 조울증이라고 하는 이유는 조증과 울증의 양 극단 사이에서 기분이 변화하는 특징적인 증상 때문입니다.<br>
    이러한 기변화는 수 시간, 수주 또는 몇 달씩 지속하기도 합니다.
</p>
<hr class="bar1">
<h3 class="tit2">증상</h3>
<ul class="list1">
    <li class="list1__item">신체적인 행동뿐만 아니라 정신적인 활동도 활발해지며, 에너지가 증가한다.</li>
    <li class="list1__item">기분이 고조되고, 과도하게 낙관적이 되며, 자신감이 가득하다.</li>
    <li class="list1__item">쉽게 짜증을 내며, 공격적인 행동을 보인다.</li>
    <li class="list1__item">과대사고에 빠져들고, 자존감이 고양된다.</li>
    <li class="list1__item">충동적이 되며, 판단력이 떨어지고, 주변 일에 쉽게 주의가 끌린다.</li>
    <li class="list1__item">음주운전, 과속, 정상적이지 않은 과도한 성관계 등 무책임한 행동을 한다.</li>
    <li class="list1__item">증상이 심한 경우, 환각을 경험하고 망상에 사로잡히게 된다.</li>
</ul><!-- //list1 -->
<hr class="bar2">
<h3 class="tit2">약물치료</h3>
<p>양극성 장애의 경우 효과적인 치료를 위해 여러 가지 약물들을 적절하게 투여해야만 합니다.</p>
<hr class="bar2">
<h3 class="tit2">입원치료</h3>
<p>우울증 상태나 조증의 증상이 가벼울 경우 정신과 의사가 환자를 자주 평가할 수만 있다면 외래에서 안전하게 치료가 가능한 경우가 있습니다. 하지만, 조증 환자들의 경우에는 자신의 병에 대한 인식이 결여되어 있기 때문에 치료를 전혀 불필요한 것으로 받아들이는 경우가 많습니다. 그럴 때는 전문가인 정신과 의사의 자세한 평가와 판단에 따라서 보호자와 상의하여 치료계획을 진행하도록 권유하는 바입니다. 증상의 정도 및 가족 내에서의 지지 여부 등에 따라 환자를 입원시켜야 하는 경우가 있습니다.</p>
<hr class="bar2">
<h3 class="tit2">유지치료</h3>
<p>유지치료는 질환의 심한 정도, 약물의 부작용에 대한 위험성, 그리고 환자에 대한 지지 체계 등을 고려하여 결정해야 합니다. 일반적으로 2번 이상 재발한 양극성 장애 환자의 경우 예방목적의 유지치료를 매우 권장합니다. 유지치료에서는 주로 기분안정제(기분이 뜨고 가라앉는 양극적으로부터 벗어나게 하는 데 효과가 있다.)로 치료하는 것이 효과적이지만, 비정형 항정신병 약물 등 다른 약물을 이용한 유지치료를 고려할 수도 있습니다.</p>
<hr class="bar2">
<h3 class="tit2">정신치료</h3>
<p>양극성 장애의 단기 및 장기 치료는 약물치료가 중심이 됩니다. 그러나 정신치료 역시 치료에서 중요한 역할을 합니다. 정신치료에서는 증상을 악화시키거나 재발하게 하는 심리사회적 스트레스 인자가 개인의 삶에서 어떤 역할을 하는지, 그리고 병에 걸렸다는 사실로 인해 받게 되는 정신적인 부담, 대인관계 또는 사회적인 결과 등을 다룹니다.</p>
<p>양극성 우울 삽화에서 대인관계치료와 인지행동치료를 약물치료와 병행하였을 때, 보다 효과가 있다는 결과를 나타내었습니다. 정신 역동적 정신치료(대략 치료의 목적과 강도에 따라 지지 정신치료, 통찰지향형 정신치료, 그리고 특별한 형태의 정신치료라 할 수 있는 정식분석으로 나누어 볼 수 있다.)도 고려할 수 있습니다.</p>
<p>양극성 장애는 만성적이고 재발이 되풀이되는 질병입니다. 따라서 약물을 규칙적으로 그리고 장기간 복용해야 한다는 것을 환자는 물론 그 가족도 교육받아야 합니다. 인자 치료(우리가 흔히 생각하는 학습과 관련된 인지적 문제를 치료하는 것이 아니라 마음(정서)과 관련된 심리치료이론의 하나이다.)나 가족치료(1명 혹은 그 이상의 치료자가 가족을 한 단위로 하여 함께 치료하는 집단치료의 한 특수한 형태이다.) 등을 약물치료와 병행할 경우 약물치료를 단독으로 실시하는 경우보다 재발률이 상당히 낮습니다.</p>
