<%
    page = "sub4"
    tab = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>


<% include _include/_tab1.ejs %>
<h2 class="tit1">소아/청소년 정신건강</h2>
<p>청소년기의 심리적 문제나 학습장애는 다양한 원인에 의해서 나타나며, 증상이나 진행 양상도 성인과는 달라서 면밀하고 객관적인 평가가 반드시 필요합니다. 객관적인 평가를 위해서는 심리검사 도구들을 통하여 정확한 신경-심리 상태를 검사하는 과정이 중요합니다.</p>
<hr class="bar1">
<h3 class="tit2">청소년 심리검사 통해서 알 수 있는 것</h3>
<ul class="list1 type-column2">
    <li class="list1__item">진단과 치료경과 평가</li>
    <li class="list1__item">지능평가</li>
    <li class="list1__item">정서상태</li>
    <li class="list1__item">갈등내용</li>
    <li class="list1__item">성격특성</li>
    <li class="list1__item">대인관계 양상</li>
    <li class="list1__item">행동양식</li>
    <li class="list1__item">정석과 능력</li>
</ul><!-- //list1 -->
<ol class="symptom-step">
    <li class="symptom-step__item">기초학습향상프로그램</li>
    <li class="symptom-step__item">학습동기향상 프로그램</li>
    <li class="symptom-step__item">주위집중향상 프로그램</li>
    <li class="symptom-step__item">사고력증진 프로그램</li>
    <li class="symptom-step__item">부모교육 프로그램</li>
    <li class="symptom-step__item">신경심리검사 프로그램</li>
</ol><!-- //symptom-step -->
