<%
    page = "sub5"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('_layout/_layout') -%>
<% include _include/_board_write.ejs %>

<div class="board-btn">
    <span class="board-btn__group">
        <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn1">취소</a>
        <a href="<%= jsonData.pages[page].children[sub].links[1] %>" class="btn1 type-submit">등록</a>
    </span>
</div><!-- //broad-btn -->
