<div class="dialog">
    <h1 class="dialog__tit">알코올중독 자가진단 결과</h1>
    <button type="button" class="dialog__btn-close" title="닫기" onclick="$('.dimmed').remove();return false;"><i class="fa fa-lg fa-times" aria-hidden="true"></i></button>
    <div class="test-result">
        <p class="test-result__summary">알코올사용장애추정군입니다.</p>
        <p>심각한 알코올 중독으로서<br>속히 치료 받으시길 바랍니다.</p>
    </div><!-- //test-result -->
</div><!-- //dialog -->
