<div class="dialog">
    <h1 class="dialog__tit">알코올중독 자가진단 결과</h1>
    <button type="button" class="dialog__btn-close" title="닫기" onclick="$('.dimmed').remove();return false;"><i class="fa fa-lg fa-times" aria-hidden="true"></i></button>
    <div class="test-result">
        <p class="test-result__summary">정음주군입니다.</p>
        <p>지속적인 음주는 문제를 일으킬 수 있으므로 항상 주의하시기 바랍니다.</p>
    </div><!-- //test-result -->
</div><!-- //dialog -->
