@charset "UTF-8";

html,
body { height:100%; }

//body { min-width:640px; margin:0 auto; }
.skip { position:absolute; top:-1000px; left:0; right:0; }
.wrapper { display:flex; flex-direction:column; min-height:100%; min-width:640px; }
.header { z-index:900; position:fixed; top:0; left:0; right:0; box-sizing:border-box; @include block; height:90px; border-bottom:2px solid #e9e9e9; background-color:#fff;
    &__wrap {  margin:0 auto;}
}

.footer { box-sizing:border-box; position:relative; margin:0 auto; padding:30px 30px 125px; background-color:#3d4c5c; color:#bfc2c8; line-height:1.6;
    &:after { position:absolute; bottom:30px; left:30px; width:201px; height:65px; background:#3d4c5c url(../images/layout/foot-logo.png) no-repeat left top; content:''; }
}
.content { @include block; flex-grow:1; box-sizing:border-box; width:640px; margin:0 auto; padding:90px 30px 100px; }

/* header */
.top-logo { position:absolute; top:12px; left:30px; margin:0 0 0 0; }

.gnb {
    $this:&;
    $width:370px;
    &__tit { position:absolute; z-index:500; top:0; bottom:0; right:30px; width:60px; height:60px; margin:auto; border-radius:50%; background-color:$color1; text-indent:-999em; transition:none; cursor:pointer;
        &:before,
        &:after,
        >span:before,
        >span:after { position:absolute;top:0;bottom:0;left:0;right:0;width:26px;height:3px;background-color:#fff; border-radius:3px; margin:auto; transform:rotate(0deg);transition: .3s; content:''; }
        &:before { top:15px;}
        &:after { bottom:14px;}
        .js-open-m & {
            &:before {width:0; transform:translateX(-50%);}
            &:after {width:0; transform:translateX(50%);}
            >span:before {transform:rotate(-45deg);}
            >span:after {transform:rotate(45deg);}
        }
    }
    &.js-open-m {
        &:after { position:fixed; top:90px; bottom:0; left:0; right:0; background-color:rgba(0,0,0,0.4); content:''; }
    }
    &__depth1-list { overflow-x:hidden; overflow-y:auto; transform:translateX(0); display:block; position:fixed; right:-$width; top:90px; bottom:0; z-index:1000; width:$width; height:auto; margin:0; padding:0; background-color:#fff; transition:transform ease-out 0.3s;
        .js-open-m & { right:0;}
        .js-open-m &:not(.zxcv) { right:-$width; transform:translateX(-$width);}
    }
    &__depth1-item { display:block; position:relative; border-bottom:2px solid #f2f2f4; color:$black-tit; text-align:left; transition:background-color ease-in-out 0.25s;
        &.js-open-m { background-color:$color1; }
        &.js-open-m #{$this}__depth2-list { max-height:1000px; background-color:#f9f9fb; transition:max-height ease-in 0.15s;
            &:after { top:34px; border-color:#fff; transform:rotate(-225deg); }
        }
        &.js-open-m #{$this}__depth1-link { color:#fff; }
    }
    &__depth1-link { z-index:90; display:table-cell; height:80px; width:1%; padding:0 80px 0 26px; transition:color ease-in-out 0.25s; vertical-align:middle; text-decoration:none;

    }
    &__depth2-list { overflow:hidden; display:block; max-height:0; position:static; margin:0; padding:0; font-size:inherit; text-align:inherit; white-space:inherit;
        &:not(.zxcv):after { position:absolute; top:22px; right:40px; width:20px; height:20px; border-width:0 0 4px 4px; border-style:solid; border-color:#cacbcf; content:''; transition:border-color ease-in-out 0.25s; transform:rotate(-45deg); }
    }
    &__depth2-item { display:block; color:$black-body;
        &:after { display:block; margin:0 25px; border-bottom:2px solid #f2f2f4; content:''; }
        &:last-child:after { display:none; }
    }
    &__depth2-link { display:table-cell; width:1%; height:80px; padding:0 24px 0 44px; vertical-align:middle;
        &:before { display:none; }
    }
}

/* footer */
.site-info { position:relative; margin:0 0 0 -1em;
    &:before { z-index:10; position:absolute; height:100%; top:0; left:0; bottom:0; width:1em; background-color:#3d4c5c; content:''; }
    &__item { display:inline-block; margin-left:1em;
        &:before { position:absolute; margin-left:-0.8em; content:'/ '; }
    }
}
.copyright { margin:0; color:#5c6774; }
.admin-btn { position:absolute; bottom:30px; right:30px; border:1px solid #2e3945; padding:18px 22px; background-color:#3b4958; color:#ccc; text-decoration:none; line-height:1; }
