@charset "UTF-8";
@import "variables";
@import "mixins";

.main { background-color:#e4ebf1; }
.main .content { padding-left:0; padding-right:0; padding-bottom:0; }

.main-visual { overflow:hidden; position:relative; height:410px;
    &__list { margin:0; padding:0; font-size:0; white-space:nowrap; list-style:none; }
    &__item { display:inline-block; font-size:24px; }
    &__pagination { overflow:hidden; position:absolute; z-index:100; bottom:20px; left:0; right:0; height:5px; text-align:center;
        .js-bullet { overflow:hidden; display:inline-block; width:40px; height:5px; margin:0 6px; padding:0; border:none; background-color:#fff; opacity:.3; cursor:pointer; text-indent:-999em; vertical-align:top; transition:opacity ease-in-out .3;
            &.js-on { opacity:1; height:10px; margin-top:-5px; }
            &:not(.zxcv).js-on { height:5px; margin-top:0; opacity:1; }
        }
    }
}

.main-box { overflow:hidden; position:relative; margin:20px; padding:29px; border:1px solid #c6d1dc; border-radius:9px; background-color:#fff;
    &__footer { height:67px; margin:29px -29px -29px; border-top:1px solid #2c7b85; box-shadow:inset 1px 1px 1px #39a4b0; background-color:$color1; color:#fff; line-height:67px; text-align:center; font-size:1.25em; font-weight:$bold; };
    &__btn-more { position:absolute; top:29px; right:29px; width:40px; height:40px; text-indent:-999em;
        &:before,
        &:after { position:absolute; top:0; left:0; right:0; bottom:0; width:0; height:0; margin:auto; content:''; }
        &:before { height:24px; border-left:4px solid $black-tit; }
        &:after { width:24px; border-top:4px solid $black-tit; }
    }
}
.main-tit { margin:0 0 29px; font-size:1.5em; color:$black-tit; line-height:1;
    &__sub { font-size:0.6em; color:$black-body; font-weight:$normal; }
}

.main-info {
    &__btn { display:block; height:80px; border-radius:5px; background-color:$color1; color:#fff; font-size:36px; font-weight:$bold; line-height:80px; box-shadow:0 2px 0 #ccc;
        &+& { margin-top:30px;}
    }
    &__btn-ico { display:inline-block; position:relative; width:90px; margin-right:30px; border-right:1px solid #318b95; text-align:center;
        &:after { position:absolute; top:0; right:0; height:100%; border-right:1px solid #60dce3; content:''; }
    }
}

.main-schedule { position:relative; margin:0; line-height:1;
    &__date { clear:both; float:left; padding:11px 0 12px 12px;
        &:before { position:absolute; left:0; width:6px; height:6px; margin-top:9px; background-color:#666; box-shadow:inset 2px 2px 0 #373434; content:''; }
        &:after { display:block; position:absolute; left:0; right:0; margin-top:-37px; border-bottom:1px solid #f0f0f0; content:''; }
        &:first-child:after { display:none; }
    }
    &__time { float:right; margin-left:0; padding:11px 0 12px; font-weight:$bold; }
}

.main-board { list-style:none; margin:0; padding:0; line-height:1.5;
    &__item { position:relative; margin-top:15px;
        &:first-child { margin-top:0; }
    }
    &__link { overflow:hidden; display:block; padding-right:5em; text-overflow:ellipsis; white-space:nowrap;}
    &__date { position:absolute; right:0; }
}
