@charset "utf-8";

//var
$site-width:1000px;
$mobile-size:668px;
$tablet-size:1023px;

$black-tit:#222;
$black-body:#666;

$color1:#40b8c6;
$color2:#e3c366;
$color3:#d02b0b;

$light:100;
$normal:300;
$bold:700;

//$font-en:'Open Sans','Nanum Gothic',sans-serif;
$font-ko:'Apple SD Gothic Neo', 'KoPubDotum', 'KoPubDotum Light', 'NanumBarunGothic', 'NanumBarunGothicOTF', 'Malgun Gothic', 'NanumGothic', 'NanumGothicOTF', sans-serif;
//$font-ko:'Apple SD Gothic Neo', 'Malgun Gothic', 'NanumGothic', 'NanumGothicOTF', sans-serif;
